<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mainTitle">{{vm.mainTitle}}</h1>
        </div>
    </div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="panel panel-white col-md-6  col-md-offset-3">
            <div class="panel-body">
                <form name="vm.DeptForm" ng-submit="vm.submitAction()" role="form">
                    <div class="row">
                        <div class="form-group" ng-class="{ 'has-error' : vm.DeptForm.deptId.$invalid && (!vm.DeptForm.deptId.$pristine || vm.DeptForm.deptId.$touched || vm.DeptForm.deptId.$submitted) }">
                            <label> Department ID </label>
                            <input type="text" name="deptId" ng-model="vm.formdata.deptId" placeholder="Department ID" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" ng-class="{ 'has-error' : vm.DeptForm.deptName.$invalid && (!vm.DeptForm.deptName.$pristine || vm.DeptForm.deptName.$touched || vm.DeptForm.deptName.$submitted) }">
                            <label> Department Name </label>
                            <input type="text" name="deptName" ng-model="vm.formdata.deptName" placeholder="Department Name" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" ng-class="{ 'has-error' : vm.DeptForm.area.$invalid && (!vm.DeptForm.area.$pristine || vm.DeptForm.area.$touched || vm.DeptForm.area.$submitted) }">
                            <label> Department Area </label>
                            <input type="text" name="area" ng-model="vm.formdata.area" placeholder="Department Area" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <hr class="hrule4"/>
                        <div class="col-xs-12 text-center">
                            <button class="btn btn-squared btn-dark-blue" type="submit"><i class="fa fa-save"></i>Save</button>
                            <a class="btn btn-squared btn-dark-blue" ng-click="vm.cancelAction()"><i class="fa fa-times"></i> Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>