<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="mainTitle" >{{mainTitle}}</h1>
			<span class="mainDescription">{{mainDesc}} </span>
		</div>
	</div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white no-radius">
				<div class="panel-body">
					<div class="row">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center" colspan="3">Security ISO27001</th>
									<th class="text-center" rowspan="2">COBIT 5</th>
									<th class="text-center" rowspan="2">NIST</th>
								</tr>
								<tr>
									<th class="text-center">Domain</th>
									<th class="text-center">Section</th>
									<th class="text-center">Control Objective/Control</th>
								</tr>
							</thead>
							<tbody>
							<tr class="bg-light-green">
								<td>Information Security Policies</td>
								<td>5.1</td>
								<td>Information Security Policies</td>
								<td></td>
								<td></td>
							</tr>
							<tr class="bg-light-green">
								<td></td>
								<td>5.1.1</td>
								<td>Policies for information security</td>
								<td>APO01.03, EDM01.01, EDM01.02</td>
								<td>controls from all families</td>
							</tr>
							<tr class="bg-light-green">
								<td></td>
								<td>5.1.2</td>
								<td>Review of the policies for information security</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Organization of Information security</td>
								<td>6.1</td>
								<td>Internal Organization</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>6.1.1</td>
								<td>Information security roles and responsibilities</td>
								<td>APO01.02, DSS06.03, APO13.12, APO07.02, DSS06.03, APO07.03, APO10.04, APO10.05,
									DSS05.01
								</td>
								<td>CP-2, PS-7, PM-11, PM-1, PS-7, AT-3, PM-13, SA-9, CA-2, CA-7, PM-14, CP-2, CP-3,
									IR-3, IR-8
								</td>
							</tr>
							<tr>
								<td></td>
								<td>6.1.2</td>
								<td>Segregation of duties</td>
								<td>APO01.06</td>
								<td>AC-2, AC-3, AC-5, AC-6, AC-16, AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8,
									SC-13, SC-31, SI-4
								</td>
							</tr>
							<tr>
								<td></td>
								<td>6.1.3</td>
								<td>Contact with authorities</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>6.1.4</td>
								<td>Contact with special interest groups</td>
								<td></td>
								<td>PM-15, PM-16, SI-5</td>
							</tr>
							<tr>
								<td></td>
								<td>6.1.5</td>
								<td>Information security in project management</td>
								<td>APO13.01</td>
								<td>SA-3, SA-4, SA-8, SA-10, SA-11, SA-12, SA-15, SA-17, PL-8</td>
							</tr>
							<tr>
								<td></td>
								<td>6.2</td>
								<td>Mobile devices and teleworking</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>6.2.1</td>
								<td>Mobile device policy</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>6.2.2</td>
								<td>Teleworking</td>
								<td>APO13.01, DSS01.04, DSS05.03</td>
								<td>AC‑17, AC-19, AC-20</td>
							</tr>
							<tr>
								<td>Human Resource Security</td>
								<td>7.1</td>
								<td>Prior to Employment</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>7.1.1</td>
								<td>Screening</td>
								<td>APO01.06,APO07.01, APO07.02, APO07.03, APO07.04, APO07.05</td>
								<td>AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8, SC-13, SC-31, SI-4, PS Family</td>
							</tr>
							<tr>
								<td></td>
								<td>7.1.2</td>
								<td>Terms and conditions of employment</td>
								<td>APO01.06</td>
								<td>AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8, SC-13, SC-31, SI-4</td>
							</tr>
							<tr>
								<td></td>
								<td>7.2</td>
								<td>During Employment</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>7.2.1</td>
								<td>Management Responsibility</td>
								<td>APO13.12</td>
								<td> PM-1, PS-7</td>
							</tr>
							<tr>
								<td></td>
								<td>7.2.2</td>
								<td>Information security awareness, education and training</td>
								<td>APO07.03, BAI05.07, APO07.02, DSS06.03</td>
								<td>AT-2, PM-13, PS-7, SA-9</td>
							</tr>
							<tr>
								<td></td>
								<td>7.2.3</td>
								<td>Disciplinary process</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>7.3</td>
								<td>Termination and change of employment</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>7.3.1</td>
								<td>Termination or change of employment responsibilities</td>
								<td>APO01.06,APO07.01, APO07.02, APO07.03, APO07.04, APO07.05</td>
								<td>AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8, SC-13, SC-31, SI-4, PS Family</td>
							</tr>
							<tr>
								<td>Asset Management</td>
								<td>8.1</td>
								<td>Responsibility for Assets</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>8.1.1</td>
								<td>Inventory of assets</td>
								<td>BAI09.01,BAI09.02</td>
								<td>CM-8</td>
							</tr>
							<tr>
								<td></td>
								<td>8.1.2</td>
								<td>Ownership of Assets</td>
								<td>BAI09.01,BAI09.02</td>
								<td>CM-8</td>
							</tr>
							<tr>
								<td></td>
								<td>8.1.3</td>
								<td>Acceptable use of assets</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>8.1.4</td>
								<td>Return of assets</td>
								<td>APO07.01, APO07.02, APO07.03, APO07.04, APO07.05</td>
								<td>PS Family</td>
							</tr>
							<tr>
								<td></td>
								<td>8.2</td>
								<td>Information classification</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>8.2.1</td>
								<td>Classification Guidelines</td>
								<td>APO03.03, APO03.04, BAI09.02</td>
								<td>CP-2, RA-2, SA-14</td>
							</tr>
							<tr>
								<td></td>
								<td>8.2.2</td>
								<td>Labeling of Information</td>
								<td>APO01.06, DSS05.02, APO13.01</td>
								<td>AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8, SC-13, SC-31, SI-4, MP-2, MP-4,
									MP-5, MP-7
								</td>
							</tr>
							<tr>
								<td></td>
								<td>8.2.3</td>
								<td>Handling of assets</td>
								<td>APO01.06, BAI02.01, BAI06.01, DSS06.06, BAI09.03,BAI09.03,BAI09.03, DSS05.02,
									APO13.01
								</td>
								<td>SC-28, SC-8, CM-8, MP-6, PE-16, AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8,
									SC-13, SC-31, SI-4, MP-2, MP-4, MP-5, MP-7
								</td>
							</tr>
							<tr>
								<td></td>
								<td>8.3</td>
								<td>Media handling</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>8.3.1</td>
								<td>Management of removable media</td>
								<td>BAI09.03,BAI09.03, DSS05.02, APO13.01</td>
								<td>CM-8, MP-6, PE-16, MP-2, MP-4, MP-5, MP-7</td>
							</tr>
							<tr>
								<td></td>
								<td>8.3.2</td>
								<td>Disposal of media</td>
								<td>BAI09.03</td>
								<td>CM-8, MP-6, PE-16</td>
							</tr>
							<tr>
								<td></td>
								<td>8.3.3</td>
								<td>Physical media transfer</td>
								<td>BAI09.03, DSS05.02, APO13.01</td>
								<td>CM-8, MP-6, PE-16, MP-2, MP-4, MP-5, MP-7</td>
							</tr>
							<tr>
								<td>Access Control</td>
								<td>9.1</td>
								<td>Business Requirement for Access Control</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>9.1.1</td>
								<td>Access control Policy</td>
								<td>APO01.06</td>
								<td>AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8, SC-13, SC-31, SI-4</td>
							</tr>
							<tr>
								<td></td>
								<td>9.1.2</td>
								<td>Access to networks and network services</td>
								<td>APO01.06, DSS05.02</td>
								<td>AC-2, AC-3, AC-5, AC-6, AC-16, AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8,
									SC-13, SC-31, SI-4, AC-3, CM-7
								</td>
							</tr>
							<tr>
								<td></td>
								<td>9.2</td>
								<td>User Access Management</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>9.2.1</td>
								<td>User Registration and de-registration</td>
								<td>DSS05.04, DSS06.03</td>
								<td>AC-2, IA Family</td>
							</tr>
							<tr>
								<td></td>
								<td>9.2.2</td>
								<td>User access provisioning</td>
								<td>DSS05.04, DSS06.03</td>
								<td>AC-2, IA Family</td>
							</tr>
							<tr>
								<td></td>
								<td>9.2.3</td>
								<td>Management of privileged access rights</td>
								<td>APO01.06</td>
								<td>AC-2, AC-3, AC-5, AC-6, AC-16, AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8,
									SC-13, SC-31, SI-4
								</td>
							</tr>
							<tr>
								<td></td>
								<td>9.2.4</td>
								<td>Management of secret authentication information of users</td>
								<td>DSS05.04, DSS06.03</td>
								<td>AC-2, IA Family</td>
							</tr>
							<tr>
								<td></td>
								<td>9.2.5</td>
								<td>Review of user access rights</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>9.2.6</td>
								<td>Removal or adjustment of access rights</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>9.3</td>
								<td>User Responsibilities</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>9.3.1</td>
								<td>Use of secret authentication information</td>
								<td>DSS05.04, DSS06.03</td>
								<td>AC-2, IA Family</td>
							</tr>
							<tr>
								<td></td>
								<td>9.4</td>
								<td>System and application access control</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>9.4.1</td>
								<td>Information access restriction</td>
								<td>APO01.06</td>
								<td>AC-2, AC-3, AC-5, AC-6, AC-16, AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8,
									SC-13, SC-31, SI-4
								</td>
							</tr>
							<tr>
								<td></td>
								<td>9.4.2</td>
								<td>Secure log-on procedures</td>
								<td>DSS05.04, DSS06.03</td>
								<td>AC-2, IA Family</td>
							</tr>
							<tr>
								<td></td>
								<td>9.4.3</td>
								<td>Password management system</td>
								<td>DSS05.04, DSS06.03</td>
								<td>AC-2, IA Family</td>
							</tr>
							<tr>
								<td></td>
								<td>9.4.4</td>
								<td>Use of privileged utility programs</td>
								<td>APO01.06</td>
								<td>AC-2, AC-3, AC-5, AC-6, AC-16, AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8,
									SC-13, SC-31, SI-4
								</td>
							</tr>
							<tr>
								<td></td>
								<td>9.4.5</td>
								<td>Access control to program source code</td>
								<td>APO01.06</td>
								<td>AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8, SC-13, SC-31, SI-4</td>
							</tr>
							<tr>
								<td>Cryptography</td>
								<td>10.1</td>
								<td>Cryptographic controls</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>10.1.1</td>
								<td>Policy on the use of cryptographic controls</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>10.1.2</td>
								<td>Key management</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Physical and Environmental Security</td>
								<td>11.1</td>
								<td>Secure Areas</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>11.1.1</td>
								<td>Physical security Perimeter</td>
								<td>DSS01.04, DSS05.05</td>
								<td>PE-2, PE-3, PE-4, PE-5, PE-6, PE-9</td>
							</tr>
							<tr>
								<td></td>
								<td>11.1.2</td>
								<td>Physical entry controls</td>
								<td>DSS01.04, DSS05.05,BAI09.03</td>
								<td>MA-2, MA-3, MA-5, PE-2, PE-3, PE-4, PE-5, PE-6, PE-9</td>
							</tr>
							<tr>
								<td></td>
								<td>11.1.3</td>
								<td>Securing offices, rooms and facilities</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>11.1.4</td>
								<td>Protecting against external and environmental threats</td>
								<td>DSS04.02, DSS01.04, DSS05.05,DSS01.04, DSS05.05</td>
								<td>CP-2, CP-11, SA-14,PE-2, PE-3, PE-4, PE-5, PE-6, PE-9,PE-10, PE-12, PE-13, PE-14,
									PE-15, PE-18,PE-10, PE-12, PE-13, PE-14, PE-15, PE-18
								</td>
							</tr>
							<tr>
								<td></td>
								<td>11.1.5</td>
								<td>Working in secure areas</td>
								<td>DSS04.02, DSS01.04, DSS05.06</td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>11.1.6</td>
								<td>Delivery and loading areas</td>
								<td>DSS01.04, DSS05.05</td>
								<td>PE-2, PE-3, PE-4, PE-5, PE-6, PE-9</td>
							</tr>
							<tr>
								<td></td>
								<td>11.2</td>
								<td>Equipment</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>11.2.1</td>
								<td>Equipment sitting and protection</td>
								<td>DSS01.04, DSS05.05, DSS01.04, DSS05.05</td>
								<td>PE-10, PE-12, PE-13, PE-14, PE-15, PE-18, PE-10, PE-12, PE-13, PE-14, PE-15, PE-18
								</td>
							</tr>
							<tr>
								<td></td>
								<td>11.2.2</td>
								<td>Supporting utilities</td>
								<td>DSS01.04, DSS05.05,DSS01.04, DSS05.05</td>
								<td>CP-8, PE-9, PE-11, PM-8, SA-14,PE-10, PE-12, PE-13, PE-14, PE-15, PE-18,PE-10,
									PE-12, PE-13, PE-14, PE-15, PE-18
								</td>
							</tr>
							<tr>
								<td></td>
								<td>11.2.3</td>
								<td>Cabling security</td>
								<td>DSS01.04, DSS05.05,DSS01.04, DSS05.05</td>
								<td>CP-8, PE-9, PE-11, PM-8, SA-14, PE-2, PE-3, PE-4, PE-5, PE-6,PE-10, PE-12, PE-13,
									PE-14, PE-15, PE-18, PE-10, PE-12, PE-13, PE-14, PE-15, PE-18
								</td>
							</tr>
							<tr>
								<td></td>
								<td>11.2.4</td>
								<td>Equipment Maintenance</td>
								<td>BAI09.03,DSS05.04</td>
								<td>MA-2, MA-3, MA-5, MA-4</td>
							</tr>
							<tr>
								<td></td>
								<td>11.2.5</td>
								<td>Removal of Asset</td>
								<td>BAI09.03</td>
								<td>MA-2, MA-3, MA-5</td>
							</tr>
							<tr>
								<td></td>
								<td>11.2.6</td>
								<td>Security of equipment and assets off-premises</td>
								<td>APO02.02</td>
								<td>AC-20, SA-9</td>
							</tr>
							<tr>
								<td></td>
								<td>11.2.7</td>
								<td>Secure disposal or re-use of equipment</td>
								<td>BAI09.03</td>
								<td>CM-8, MP-6, PE-16</td>
							</tr>
							<tr>
								<td></td>
								<td>11.2.8</td>
								<td>Unattended user equipment</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>11.2.9</td>
								<td>Clear desk and clear screen policy</td>
								<td>DSS05.02, APO13.01</td>
								<td>MP-2, MP-4, MP-5, MP-7</td>
							</tr>
							<tr>
								<td>Operations security</td>
								<td>12.1</td>
								<td>Operational Procedures and responsibilities</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>12.1.1</td>
								<td>Documented operating Procedures</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>12.1.2</td>
								<td>Change Management</td>
								<td>BAI10.01, BAI10.02, BAI10.03, BAI10.05, BAI06.01, BAI01.06</td>
								<td>CM-2, CM-3, CM-4, CM-5, CM-6, CM-7, CM-9, SA-10, CM-3, CM-4, SA-10</td>
							</tr>
							<tr>
								<td></td>
								<td>12.1.3</td>
								<td>Capacity management</td>
								<td></td>
								<td>CP-8, PE-9, PE-11, PM-8, SA-14</td>
							</tr>
							<tr>
								<td></td>
								<td>12.1.4</td>
								<td>Separation of development, testing and operational environments</td>
								<td>BAI07.04</td>
								<td>CM-2</td>
							</tr>
							<tr>
								<td></td>
								<td>12.2</td>
								<td>Protection from Malware</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>12.2.1</td>
								<td>Controls against malware</td>
								<td>DSS05.01</td>
								<td>SI-7, SI-3, IR-4</td>
							</tr>
							<tr>
								<td></td>
								<td>12.3</td>
								<td>Back-Up</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>12.3.1</td>
								<td>Information Backup</td>
								<td>APO13.01, PO13.01</td>
								<td>AU-4, CP-2, SC-5,CP-4, CP-6, CP-9,CP-4, IR-3, PM-14</td>
							</tr>
							<tr>
								<td></td>
								<td>12.4</td>
								<td>Logging and monitoring</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>12.4.1</td>
								<td>Event logging</td>
								<td> DSS02.07, APO11.04</td>
								<td>AU-6, CA-7, IR-4, IR-5, PE-6, SI-4, AU Family, AC-2, AU-12, AU-13, CA-7, CM-10,
									CM-11
								</td>
							</tr>
							<tr>
								<td></td>
								<td>12.4.2</td>
								<td>Protection of log information</td>
								<td>APO11.04</td>
								<td>AU Family</td>
							</tr>
							<tr>
								<td></td>
								<td>12.4.3</td>
								<td>Administrator and operator logs</td>
								<td>APO11.04, DSS02.07</td>
								<td>AU-6, CA-7, IR-4, IR-5, PE-6, SI-4, AU Family</td>
							</tr>
							<tr>
								<td></td>
								<td>12.4.4</td>
								<td>Clock synchronisation</td>
								<td>APO11.04</td>
								<td>AU Family</td>
							</tr>
							<tr>
								<td></td>
								<td>12.5</td>
								<td>Control of operational software</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>12.5.1</td>
								<td>Installation of software on operational systems</td>
								<td>BAI10.01, BAI10.02, BAI10.03, BAI10.05, BAI06.01, BAI01.06</td>
								<td>SI-7, CM-2, CM-3, CM-4, CM-5, CM-6, CM-7, CM-9, SA-10, CM-3, CM-4, SA-10, SC-18,
									SI-4. SC-44
								</td>
							</tr>
							<tr>
								<td></td>
								<td>12.6</td>
								<td>Technical vulnerability management</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>12.6.1</td>
								<td>Management of technical vulnerabilities</td>
								<td>APO12.01, APO12.02, APO12.03, APO12.04, BAI03.10</td>
								<td>CA-2, CA-7, CA-8,RA-2, RA-3, RA-5, SA-5, SA-11, SI-2, SI-4, SI-5, PM-16 , RA-5</td>
							</tr>
							<tr>
								<td></td>
								<td>12.6.2</td>
								<td>Restrictions on software installation</td>
								<td>BAI10.01, BAI10.02, BAI10.03, BAI10.05, BAI06.01, BAI01.06</td>
								<td>CM-2, CM-3, CM-4, CM-5, CM-6, CM-7, CM-9, SA-10, CM-3, CM-4, SA-10</td>
							</tr>
							<tr>
								<td></td>
								<td>12.7</td>
								<td>Information systems audit considerations</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>12.7.1</td>
								<td>Information systems audit controls</td>
								<td>APO11.04</td>
								<td>AU Family</td>
							</tr>
							<tr>
								<td>Communications security</td>
								<td>13.1</td>
								<td>Network security management</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>13.1.1</td>
								<td>Network Control</td>
								<td>DSS05.02, APO13.01, APO13.01, DSS01.04, DSS05.03, APO01.06, DSS06.06</td>
								<td>AC‑17, AC-19, AC-20, AC-4, SC-7, SC-8</td>
							</tr>
							<tr>
								<td></td>
								<td>13.1.2</td>
								<td>Security of network services</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>13.1.3</td>
								<td>Segregation in networks</td>
								<td>APO01.06</td>
								<td>AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8, SC-13, SC-31, SI-4</td>
							</tr>
							<tr>
								<td></td>
								<td>13.2</td>
								<td>Information transfer</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>13.2.1</td>
								<td>Information transfer policies and procedures</td>
								<td>DSS05.02, APO13.01, DSS01.04, DSS05.03, APO01.06, DSS06.06</td>
								<td>AC-4, CA-3, CA-9, PL-8, AC‑17, AC-19, AC-20, SC-8, AC-4, AC-5, AC-6, PE-19, PS-3,
									PS-6, SC-7, SC-8, SC-13, SC-31, SI-4, AC-18, CP-8
								</td>
							</tr>
							<tr>
								<td></td>
								<td>13.2.2</td>
								<td>Agreements on information transfer</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>13.2.3</td>
								<td>Electronic messaging</td>
								<td>APO01.06, DSS06.06</td>
								<td>SC-8, AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8, SC-13, SC-31, SI-4</td>
							</tr>
							<tr>
								<td></td>
								<td>13.2.4</td>
								<td>Confidentiality or non-disclosure agreements</td>
								<td>APO01.06</td>
								<td></td>
							</tr>
							<tr>
								<td>System acquisition, development and maintenance</td>
								<td>14.1</td>
								<td>Security requirements of information systems</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>14.1.1</td>
								<td>Information security requirements analysis and specification</td>
								<td>APO13.01</td>
								<td>SA-3, SA-4, SA-8, SA-10, SA-11, SA-12, SA-15, SA-17, PL-8</td>
							</tr>
							<tr>
								<td></td>
								<td>14.1.2</td>
								<td>Securing application services on public networks</td>
								<td>APO01.06, DSS06.06</td>
								<td>SC-8, AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8, SC-13, SC-31, SI-4, SI-7</td>
							</tr>
							<tr>
								<td></td>
								<td>14.1.3</td>
								<td>Protecting application services transactions</td>
								<td>APO01.06, DSS06.06</td>
								<td>SC-8, AC-4, AC-5, AC-6, PE-19, PS-3, PS-6, SC-7, SC-8, SC-13, SC-31, SI-4, SI-7</td>
							</tr>
							<tr>
								<td></td>
								<td>14.2</td>
								<td>Security in development and support processes</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>14.2.1</td>
								<td>Secure development policy</td>
								<td>APO13.01</td>
								<td>SA-3, SA-4, SA-8, SA-10, SA-11, SA-12, SA-15, SA-17, PL-8</td>
							</tr>
							<tr>
								<td></td>
								<td>14.2.2</td>
								<td>System change control procedures</td>
								<td>BAI10.01, BAI10.02, BAI10.03, BAI10.05, BAI06.01, BAI01.06</td>
								<td>CM-2, CM-3, CM-4, CM-5, CM-6, CM-7, CM-9, SA-10, CM-3, CM-4, SA-10</td>
							</tr>
							<tr>
								<td></td>
								<td>14.2.3</td>
								<td>Technical review of applications after operating platform changes</td>
								<td>BAI10.01, BAI10.02, BAI10.03, BAI10.05, BAI06.01, BAI01.06</td>
								<td>CM-2, CM-3, CM-4, CM-5, CM-6, CM-7, CM-9, SA-10, CM-3, CM-4, SA-10</td>
							</tr>
							<tr>
								<td></td>
								<td>14.2.4</td>
								<td>Restrictions on changes to software packages</td>
								<td>BAI10.01, BAI10.02, BAI10.03, BAI10.05, BAI06.01, BAI01.06</td>
								<td>CM-2, CM-3, CM-4, CM-5, CM-6, CM-7, CM-9, SA-10, CM-3, CM-4, SA-10</td>
							</tr>
							<tr>
								<td></td>
								<td>14.2.5</td>
								<td>Secure system engineering principles</td>
								<td>APO13.01</td>
								<td>SA-3, SA-4, SA-8, SA-10, SA-11, SA-12, SA-15, SA-17, PL-8</td>
							</tr>
							<tr>
								<td></td>
								<td>14.2.6</td>
								<td>Secure development environment</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>14.2.7</td>
								<td>Outsourced development</td>
								<td>APO07.06</td>
								<td>CA-7, PS-7, SA-4, SA-9, SI-4</td>
							</tr>
							<tr>
								<td></td>
								<td>14.2.8</td>
								<td>System security testing</td>
								<td>APO13.02</td>
								<td>CA-2, CA-7, PE-3, PM-14, SI-3, SI-4</td>
							</tr>
							<tr>
								<td></td>
								<td>14.2.9</td>
								<td>System acceptance testing</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>14.3</td>
								<td>Test Data</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>14.3.1</td>
								<td>Protection of test data</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Supplier relationships</td>
								<td>15.1</td>
								<td>Information security in supplier relationships</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>15.1.1</td>
								<td>Information security policy for supplier relationships</td>
								<td>DSS05.04</td>
								<td>MA-4</td>
							</tr>
							<tr>
								<td></td>
								<td>15.1.2</td>
								<td>Addressing security within supplier agreements</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>15.1.3</td>
								<td>Information and communication technology supply chain</td>
								<td>APO08.04, APO08.05, APO10.03, APO10.04, APO10.05</td>
								<td> CP-2, SA-12</td>
							</tr>
							<tr>
								<td></td>
								<td>15.2</td>
								<td>Supplier service delivery management</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>15.2.1</td>
								<td>Monitoring and review of supplier services</td>
								<td>APO08.04, APO08.05, APO10.03, APO10.04, APO10.05, DSS05.04, APO07.06</td>
								<td> CP-2, SA-12, MA-4, CA-7, PS-7, SA-4, SA-9, SI-4</td>
							</tr>
							<tr>
								<td></td>
								<td>15.2.2</td>
								<td>Managing changes to supplier services</td>
								<td>APO08.04, APO08.05, APO10.03, APO10.04, APO10.05</td>
								<td> CP-2, SA-12</td>
							</tr>
							<tr>
								<td>Information security incident management</td>
								<td>16.1</td>
								<td>Management of information security incidents and improvements</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>16.1.1</td>
								<td>Responsibilities and procedures</td>
								<td>DSS04.03</td>
								<td>AU-6, CA-7, IR-4, SI-4, CP-2, IR-8, CP-2, CP-3, IR-3, IR-8</td>
							</tr>
							<tr>
								<td></td>
								<td>16.1.2</td>
								<td>Reporting information security events</td>
								<td>APO12.06</td>
								<td>AU-6, IR-6, IR-8, CA-2, CA-7, CP-2, IR-4, IR-8, PE-6, RA-5, SI-4</td>
							</tr>
							<tr>
								<td></td>
								<td>16.1.3</td>
								<td>Reporting information security weaknesses</td>
								<td></td>
								<td>AU-6, IR-6, IR-8</td>
							</tr>
							<tr>
								<td></td>
								<td>16.1.4</td>
								<td>Assessment of and decision on information security events</td>
								<td></td>
								<td>CP-2, IR-4, IR-5, IR-8, AU-6, CA-7, IR-4, SI-4</td>
							</tr>
							<tr>
								<td></td>
								<td>16.1.5</td>
								<td>Response to information security incidents</td>
								<td>DSS02.05, DSS03.04, DSS02.07, BAI01.10</td>
								<td>CP-10, IR-4, IR-8, AU-6, CA-7, IR-4, IR-5, PE-6, SI-4, CP-2</td>
							</tr>
							<tr>
								<td></td>
								<td>16.1.6</td>
								<td>Learning from information security incidents</td>
								<td>BAI01.13, APO11.06, DSS04.05</td>
								<td>CP-2, IR-4, AC-21, CA-7, SI-4, CP-2, IR-4, IR-8, CA-2, CA-7, PL-2, RA-5, SI-4,
									PM-14
								</td>
							</tr>
							<tr>
								<td></td>
								<td>16.1.7</td>
								<td>Collection of evidence</td>
								<td></td>
								<td>AU-7, IR-4</td>
							</tr>
							<tr>
								<td>Information security aspects of business continuity management</td>
								<td>17.1</td>
								<td>Information security continuity</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>17.1.1</td>
								<td>Planning information security continuity</td>
								<td>DSS04.02,DSS04.03</td>
								<td>CP-2, CP-11, SA-14,CP-2, IR-8</td>
							</tr>
							<tr>
								<td></td>
								<td>17.1.2</td>
								<td>Implementing information security continuity</td>
								<td>DSS04.02, PO13.01 ,DSS04.03</td>
								<td>CP-2, CP-11, SA-14, CP-4, CP-6, CP-9,CP-2, IR-8,CP-4, IR-3, PM-14</td>
							</tr>
							<tr>
								<td></td>
								<td>17.1.3</td>
								<td>Verify, review and evaluate information security continuity</td>
								<td>PO13.01</td>
								<td>CP-4, CP-6, CP-9,CP-4, IR-3, PM-14</td>
							</tr>
							<tr>
								<td></td>
								<td>17.2</td>
								<td>Redundancies</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>17.2.1</td>
								<td>Availability of information processing facilities</td>
								<td>DSS04.02</td>
								<td>CP-2, CP-11, SA-14</td>
							</tr>
							<tr>
								<td>Compliance</td>
								<td>18.1</td>
								<td>Compliance with legal and contractual requirements</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>18.1.1</td>
								<td>Identification of applicable legislation and contractual requirements</td>
								<td>MEA03.01, MEA03.04</td>
								<td>controls from all families (except PM-1)</td>
							</tr>
							<tr>
								<td></td>
								<td>18.1.2</td>
								<td>Intellectual Property Rights ( IPR)</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>18.1.3</td>
								<td>Protection of organizational records</td>
								<td>PO13.01</td>
								<td>CP-4, CP-6, CP-9</td>
							</tr>
							<tr>
								<td></td>
								<td>18.1.4</td>
								<td>Privacy and protection of personally identifiable information</td>
								<td></td>
								<td>CA-2, CA-7, PM-14, SI-4</td>
							</tr>
							<tr>
								<td></td>
								<td>18.1.5</td>
								<td>Regulation of cryptographic controls</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>18.2</td>
								<td>Information security reviews</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>18.2.1</td>
								<td>Independent review of information security</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td>18.2.2</td>
								<td>Compliance with security policies and standards</td>
								<td></td>
								<td>RA-3, RA-5, SI-2</td>
							</tr>
							<tr>
								<td></td>
								<td>18.2.3</td>
								<td>Technical compliance review</td>
								<td>APO12.01, APO12.02, APO12.03, APO12.04</td>
								<td> CA-2, CA-7, CA-8, RA-3, RA-5, SA-5, SA-11, SI-2, SI-4, SI-5</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>