<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="mainTitle">{{mainTitle}}</h1>
			<span class="mainDescription">{{mainDesc}} </span>
		</div>
	</div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-white">
				<div class="panel-body">
					<div id="teCategoryChart" class="col-xs-12 col-lg-offset-2 col-lg-8"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-white">
				<div class="panel-body">
					<div id="tePeriodChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-white">
				<div class="panel-body">
					<div id="teRisktypeChart" class="col-xs-12 col-lg-offset-2 col-lg-8"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-white">
				<div class="panel-body">
					<div id="teSourceChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
	</div>
</div>
