<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mainTitle">{{mainTitle}}</h1>
            <span class="mainDescription">{{mainDesc}} </span>
        </div>
    </div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-white no-radius">
                <table class="table table-striped table-responsive col-xs-12">
                    <thead>
                    <tr class="sortable-headers">
                        <th><a>S/N</a></th>
                        <th><a>Vulnerabilities (OWASP TOP 10-2013) </a></th>
                        <th><a>Status</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="a in Vulnerablities">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-white no-radius">
                <div class="row">
                    <table class="table table-striped table-responsive col-xs-12">
                        <thead>
                        <tr class="sortable-headers">
                            <th><a>AppName</a></th>
                            <th><a>Appid</a></th>
                            <th><a>Dept</a></th>
                            <th><a>AppType</a></th>
                            <th><a>Owner</a></th>
                            <th><a>Date of Test</a></th>
                            <th><a>Vulnerabilities found</a></th>
                            <th><a>Impact</a></th>
                            <th><a>Risk Level</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <table class="table table-striped table-responsive col-xs-12">
                        <thead>
                        <tr class="sortable-headers">
                            <th><a>Server Name</a></th>
                            <th><a>HostName</a></th>
                            <th><a>ServerType</a></th>
                            <th><a>IPAddress</a></th>
                            <th><a>Owner</a></th>
                            <th><a>Date of Test</a></th>
                            <th><a>Vulnerabilities found</a></th>
                            <th><a>Impact</a></th>
                            <th><a>Risk Level</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>