<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mainTitle" >{{vm.mainTitle}}</h1>
        </div>
    </div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <form name="vm.Form.addTopic" ng-submit="vm.submitAction()" role="form" >
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group" ng-class="{ 'has-error' : vm.Form.addTopic.topicName.$invalid && (!vm.Form.addTopic.topicName.$pristine || vm.Form.addTopic.topicName.$touched || vm.Form.addTopic.topicName.$submitted) }">
                                    <label> Topic Name </label>
                                    <input type="text"  name="topicName" ng-model="vm.formdata.topicName"  placeholder="Topic Name" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Audit Name </label>
                                    <input type="text"  name="auditName" ng-model="vm.auditName" disabled  class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group" ng-class="{ 'has-error' : vm.Form.addTopic.topicDesc.$invalid && (!vm.Form.addTopic.topicDesc.$pristine || vm.Form.addTopic.topicDesc.$touched || vm.Form.addTopic.topicDesc.$submitted) }">
                                    <label> Description </label>
                                    <textarea type="text" name="topicDesc" ng-model="vm.formdata.topicDesc"  placeholder="Description" class="form-control" rows="3" required></textarea>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : vm.Form.addTopic.topicResponse.$invalid && (!vm.Form.addTopic.topicResponse.$pristine || vm.Form.addTopic.topicResponse.$touched || vm.Form.addTopic.topicResponse.$submitted) }">
                                    <label> Responsible Person </label>
                                    <select type="text" name="topicResponse" ng-model="vm.formdata.topicResponse" class="form-control"
                                            ng-options="op.name as op.name for op in app.Lookup.Users" required>
                                        <option selected value>Select Person</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Files to upload </label>
                                    <input type="file" file-model="vm.formdata.topicfileModel" class="form-control"/>
                                    <!--<ul class="file-list-group col-xs-12">-->
                                        <!--<li class="file-list-item" ng-repeat="file in vm.formdata.topicfileModel">-->
                                            <!--<a href="{{app.APIPrefix + 'policies/download/stream/'+file.id}}"-->
                                               <!--download="{{file.fileName}}" ng-if="file.id!=1">-->
                                                <!--{{file.fileName}}-->
                                            <!--</a>-->
                                            <!--<span ng-if="file.id==1">{{file.fileName}}</span>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                </div>
                            </div>
                            <hr class="hrule4" />
                            <div class="col-xs-12 text-right">
                                <button class="btn btn-squared btn-dark-blue" ng-disabled="vm.Form.addTopic.$invalid" type="submit"><i class="fa fa-save"></i> Save</button>
                                <!--<button class="btn btn-squared btn-dark-blue" type="reset"><i class="fa fa-refresh"></i> Reset</button>-->
                                <a class="btn btn-squared btn-dark-blue" ng-click="vm.cancelAction()"><i class="fa fa-times"></i>  Cancel</a>
                            </div>
                        </div>
                    </form>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-white no-radius">
                                <div class="panel-heading">
                                    <h5> Finding </h5>
                                    <div class="panel-tools">
                                        <a class="btn btn-xs btn-dark-blue btn-squared" ui-sref="app.audit.add_findings({ topic_id: vm.topic_id })">Add Finding</a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group col-xs-4 col-sm-3 col-md-2 col-lg-1">
                                            <select id="perpage" ng-model="vm.Grid1.PerPage" ng-options="op as op for op in vm.OpList" class="form-control input-sm"> </select>
                                        </div>
                                        <div class="col-xs-4 col-sm-3 col-md-10 col-lg-11">
                                            <div class="form-group pull-right col-xs-12 col-sm-4 col-md-3">
                                                                            <span class="input-icon">
                                                                                <input type="text" ng-model="vm.Grid1.Filter" placeholder="search" class="form-control input-sm" />
                                                                                <i class="fa fa-search"></i>
                                                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <table class="table table-striped table-responsive col-xs-12">
                                            <thead>
                                            <tr class="sortable-headers">
                                                <th><a ng-class="{'text-azure': vm.Grid1.Column==='findingName' }" ng-click="vm.Grid1.SortMe('findingName')"><i class="fa {{vm.Grid1.GetIco('findingName')}}"></i> Name</a></th>
                                                <th><a ng-class="{'text-azure': vm.Grid1.Column==='findDesc' }" ng-click="vm.Grid1.SortMe('findDesc')"><i class="fa {{vm.Grid1.GetIco('findDesc')}}"></i> Description</a></th>
                                                <th>Documents</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="r in vm.Grid1.Data | orderBy: vm.Grid1.Column:vm.Grid1.IsAsc | filter: vm.Grid1.Filter |  limitTo : vm.Grid1.PerPage : (vm.Grid1.CurrPage -1) * vm.Grid1.PerPage">
                                                <td>{{r.findingName}}</td>
                                                <td>{{r.findDesc}}</td>
                                                <td></td>
                                                <td>
                                                    <a ui-sref="app.audit.update_findings({ finding_id: r.id })" class="btn btn-xs btn-squared btn-dark-azure"><i class="ti-pencil"></i></a>
                                                    <a ng-click="vm.deleteAction(r)" class="btn btn-xs btn-squared btn-red"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-xs-12 col-sm-5">
                                            Showing {{(vm.Grid1.CurrPage -1) * vm.Grid1.PerPage + 1}} to {{ ((vm.Grid1.CurrPage * vm.Grid1.PerPage) >  vm.Grid1.Total) ?  vm.Grid1.Total : (vm.Grid1.CurrPage * vm.Grid1.PerPage); }} of {{vm.Grid1.Total}} entries
                                        </div>
                                        <div class="col-xs-12 col-sm-7 pagination-right">
                                            <ul uib-pagination total-items="vm.Grid1.Total" ng-model="vm.Grid1.CurrPage" max-size="5" class="pagination-sm" boundary-link-numbers="true"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>