<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mainTitle" >{{mainTitle}}</h1>
            <span class="mainDescription">{{mainDesc}} </span>
        </div>
    </div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div id="audit_MGDeptChart" class="col-xs-12"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div id="audit_FDOpenChart" class="col-xs-12"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div id="audit_MGStatus" class="col-xs-12"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div id="audit_MGPeriod" class="col-xs-12 col-md-offset-2 col-md-8"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div id="openFinding_periodChart" class="col-xs-12"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div id="status_department" class="col-xs-12"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white no-radius">
                <div class="panel-heading">
                    <h5>Audits</h5>
                    <div class="panel-tools">
                        <a class="btn btn-xs btn-dark-blue btn-squared" ui-sref="app.audit.add_audit">Add Audit</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table class="Audit_Main_Table table table-striped table-bordered table-hover nested_table" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th  valign="middle"  align="left"><input type="checkbox"></th>
                                    <th  valign="middle" align="left">Name</th>
                                    <th  valign="middle" align="left">Region </th>
                                    <th  valign="middle" align="left">Department</th>
                                    <th valign="middle" align="left">Occur Date</th>
                                    <th  valign="middle" align="left">Responsible</th>
                                    <th  valign="middle" align="left">Priority </th>
                                    <th  valign="middle" align="left">Status </th>
                                    <th  valign="middle" align="left">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>