<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mainTitle">{{mainTitle}}</h1>
            <span class="mainDescription">{{mainDesc}} </span>
        </div>
    </div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div id="severityChart" class="col-xs-12 col-lg-offset-2 col-lg-8"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div id="periodChart" class="col-xs-12"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div id="statusChart" class="col-xs-12 col-lg-offset-2 col-lg-8"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div id="categoryChart" class="col-xs-12"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white no-radius">
                <div class="panel-heading">
                    <h5>Remediations</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-xs-4 col-sm-3 col-md-2 col-lg-1">
                            <select id="perpage" ng-model="PerPage" ng-options="op as op for op in OpList" class="form-control input-sm"> </select>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-10 col-lg-11">
                            <div class="form-group pull-right col-xs-12 col-sm-4 col-md-3">
								<span class="input-icon">
									<input type="text" ng-model="CurrFilt" placeholder="search" class="form-control input-sm" />
									<i class="fa fa-search"></i>
								</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-striped table-responsive col-xs-12">
                            <thead>
                            <tr class="sortable-headers">
                                <th><input type="checkbox"></th>
                                <th><a ng-class="{'text-azure': CurrCol==='riskName' }" ng-click="sortMe('riskName')"><i class="fa {{resSort('riskName')}}"></i> Risk Type </a></th>
                                <th><a ng-class="{'text-azure': CurrCol==='riskName' }" ng-click="sortMe('rcsa_name')"><i class="fa {{resSort('riskName')}}"></i> Risk Name </a></th>
                                <th><a ng-class="{'text-azure': CurrCol==='riskName' }" ng-click="sortMe('rcsa_name')"><i class="fa {{resSort('riskName')}}"></i> Risk Category </a></th>
                                <th><a ng-class="{'text-azure': CurrCol==='riskDesc' }" ng-click="sortMe('riskDesc')"><i class="fa {{resSort('riskDesc')}}"></i> Risk Severity </a></th>
                                <th><a ng-class="{'text-azure': CurrCol==='riskSeverity' }" ng-click="sortMe('riskSeverity')"><i class="fa {{resSort('riskSeverity')}}"></i> Identified Date </a></th>
                                <th><a ng-class="{'text-azure': CurrCol==='riskStatus' }" ng-click="sortMe('riskStatus')"><i class="fa {{resSort('riskStatus')}}"></i> Risk Status</a></th>
                                <th><a ng-class="{'text-azure': CurrCol==='remediationDate' }" ng-click="sortMe('remediationDate')"><i class="fa {{resSort('remediationDate')}}"></i> Rem. Date </a></th>
                                <th><a ng-class="{'text-azure': CurrCol==='remediationDate' }" ng-click="sortMe('remediationDate')"><i class="fa {{resSort('remediationDate')}}"></i> Rem. Desc </a></th>
                                <th><a ng-class="{'text-azure': CurrCol==='riskStatus' }" ng-click="sortMe('riskStatus')"><i class="fa {{resSort('riskStatus')}}"></i> Rem. Status</a></th>
                                <th><a ng-class="{'text-azure': CurrCol==='riskStatus' }" ng-click="sortMe('riskStatus')"><i class="fa {{resSort('riskStatus')}}"></i> Rem. Plan </a></th>
                                <th><a ng-class="{'text-azure': CurrCol==='riskStatus' }" ng-click="sortMe('riskStatus')"><i class="fa {{resSort('riskStatus')}}"></i> Rem. Owner</a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="r in Data | orderBy: CurrCol:IsAsc | filter: CurrFilt">
                                <th><input type="checkbox"></th>
                                <td>IT Risk</td>
                                <td>{{r.RiskName}}</td>
                                <td>{{r.RiskCategory}}</td>
                                <td>{{r.RiskSeverity}}</td>
                                <td>{{r.identifiedDate | date}}</td>
                                <td>{{r.RiskStatus}}</td>
                                <td>{{r.remediationDate | date}}</td>
                                <td>{{r.RiskDesc}}</td>
                                <td>{{r.RemStatus || 'None'}}</td>
                                <td>{{r.RemPlan || 'None'}}</td>
                                <td>{{r.RemOwner || 'None'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            Showing {{1}} to {{7}} of {{7}} entries
                        </div>
                        <div class="col-xs-12 col-sm-8 pagination-right">
                            <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
