<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mainTitle" >{{mainTitle}}</h1>
            <span class="mainDescription">{{mainDesc}} </span>
        </div>
    </div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white no-radius">
                <div class="panel-body">
                    <form name="Form.Policy" ng-submit="submitAction()" role="form" ng-init="IsSubmitted=false">
                        <div class="row" ng-if="IsSubmitted && Form.Policy.$invalid">
                            <div class="col-xs-12 error text-red">
                                <p ng-if="Form.Policy.assessmentType.$invalid || Form.Policy.assessmentType.$dirty"><i class="fa fa-times"></i> Please select an assessment type </p>
                                <p ng-if="Form.Policy.docName.$invalid || Form.Policy.docName.$dirty"><i class="fa fa-times"></i> Document Name invalid or empty </p>
                                <p ng-if="Form.Policy.docDesc.$invalid || Form.Policy.docDesc.$dirty"><i class="fa fa-times"></i> Document Description invalid or empty </p>
                            </div>
                        </div>
                        <fieldset>
                            <legend>Policy Details</legend>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group" ng-class="{'has-error': Form.Policy.assessmentType.$dirty && Form.Policy.assessmentType.$invalid }">
                                        <label> Assessment Type </label>
                                        <select type="text" class="form-control" name="assessmentType" ng-model="VM.assessmentType" ng-options="at as at.asTypeDesc for at in AssessTypes" required>
                                            <option selected value>Select Assessment</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group"  ng-class="{'has-error': Form.Policy.docName.$dirty && Form.Policy.docName.$invalid }">
                                        <label> Document Name </label>
                                        <input type="text" name="docName" ng-model="VM.docName" placeholder="Description" class="form-control" required>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group" ng-class="{'has-error': Form.Policy.docDesc.$dirty && Form.Policy.docDesc.$invalid }">
                                        <label> Document Description </label>
                                        <input type="text" name="docDesc" ng-model="VM.docDesc" placeholder="Description" class="form-control" required>
                                    </div>
                                </div>

                                <!--<div class="col-xs-12 col-md-6">-->
                                <!--<div class="form-group" ng-class="{'has-error': Form.Policy.Files.$dirty && Form.Policy.docDesc.$invalid }">-->
                                <!--<label> Document Description </label>-->
                                <!--<input type="text" name="Files" ng-model="VM.docDesc" placeholder="Description" class="form-control" required>-->
                                <!--</div>-->
                                <!--</div>-->

                                <hr class="hrule4" />
                                <div class="col-xs-12 text-right">
                                    <button type="submit" ng-disabled="Form.Policy.$dirty && Form.Policy.$invalid" class="btn btn-squared btn-dark-blue"><i class="fa fa-save"></i> Save</button>
                                    <!--<button class="btn btn-squared btn-dark-blue" type="reset"><i class="fa fa-refresh"></i> Reset</button>-->
                                    <a type="button" class="btn btn-squared btn-dark-blue" ng-click="cancelAction()"><i class="fa fa-times"></i>  Cancel</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>