<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="mainTitle" >{{vm.mainTitle}}</h1>
		</div>
	</div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white no-radius">
				<div class="panel-heading">
					<h5> Role Management </h5>
					<div class="panel-tools">
						<a class="btn btn-xs btn-dark-blue btn-squared" ui-sref="app.admin.roles.add">Add Role</a>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-xs-4 col-sm-3 col-md-2 col-lg-1">
							<select id="perpage" ng-model="vm.Grid1.PerPage" ng-options="op as op for op in vm.OpList" class="form-control input-sm"> </select>
						</div>
						<div class="col-xs-4 col-sm-3 col-md-10 col-lg-11">
							<div class="form-group pull-right col-xs-12 col-sm-4 col-md-3">
								<span class="input-icon">
									<input type="text" ng-model="vm.Grid1.Filter" placeholder="search" class="form-control input-sm" />
									<i class="fa fa-search"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<table class="table table-striped table-responsive col-xs-12">
							<thead>
							<tr class="sortable-headers">
								<th><input type="checkbox"></th>
								<th><a ng-class="{'text-azure': vm.Grid1.Column==='roleCode' }" ng-click="vm.Grid1.SortMe('roleCode')"><i class="fa {{vm.Grid1.GetIco('roleCode')}}"></i> ID</a></th>
								<th><a ng-class="{'text-azure': vm.Grid1.Column==='roleDesc' }" ng-click="vm.Grid1.SortMe('roleDesc')"><i class="fa {{vm.Grid1.GetIco('roleDesc')}}"></i> Name</a></th>
								<th>Action</th>
							</tr>
							</thead>
							<tbody>

							<tr ng-repeat="r in vm.Grid1.Data | orderBy: vm.Grid1.Column:vm.Grid1.IsAsc | filter: vm.Grid1.Filter |  limitTo : vm.Grid1.PerPage : (vm.Grid1.CurrPage -1) * vm.Grid1.PerPage">
								<th><input type="checkbox"></th>
								<td>{{r.roleCode}}</td>
								<td>{{r.roleDesc}}</td>
								<td>
									<a ui-sref="app.admin.roles.update({ id: r.id })"  class="btn btn-xs btn-squared btn-dark-azure"><i class="ti-pencil"></i></a>
									<a ng-click="vm.deleteAction(r)" class="btn btn-xs btn-squared btn-red"><i class="ti-trash"></i></a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="row margin-top-10">
						<div class="col-xs-12 col-sm-5">
							Showing {{(vm.Grid1.CurrPage -1) * vm.Grid1.PerPage + 1}} to {{ ((vm.Grid1.CurrPage * vm.Grid1.PerPage) >  vm.Grid1.Total) ?  vm.Grid1.Total : (vm.Grid1.CurrPage * vm.Grid1.PerPage); }} of {{vm.Grid1.Total}} entries
						</div>
						<div class="col-xs-12 col-sm-7 pagination-right">
							<ul uib-pagination total-items="vm.Grid1.Total" ng-model="vm.Grid1.CurrPage" items-per-page="vm.Grid1.PerPage" max-size="5" class="pagination-sm" boundary-link-numbers="true"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
