<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="mainTitle" >{{mainTitle}}</h1>
			<span class="mainDescription">{{mainDesc}}</span>
		</div>
	</div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-transparent">
				<div class="panel-body">
					<form name="Form.ITRisk" ng-submit="submitAction()" role="form" >
						<fieldset>
							<legend>IT Risk Incident</legend>
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<div class="form-group" ng-class="{ 'has-error' : Form.ITRisk.riskName.$invalid && (!Form.ITRisk.riskName.$pristine || Form.ITRisk.riskName.$touched || Form.ITRisk.riskName.$submitted) }">
										<label> Name </label>
										<input type="text"  name="riskName" ng-model="VM.riskName"  placeholder="Name" class="form-control" required>
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Operational Loss </label>
										<input type="text"  name="operationalLoss" ng-model="VM.operationalLoss"  placeholder="Operational Loss" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group" ng-class="{ 'has-error' : Form.ITRisk.riskDesc.$invalid && (!Form.ITRisk.riskDesc.$pristine || Form.ITRisk.riskDesc.$touched || Form.ITRisk.riskDesc.$submitted) }">
										<label> Description </label>
										<input type="text" name="riskDesc" ng-model="VM.riskDesc"  placeholder="Description" class="form-control" required>
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group" ng-class="{ 'has-error' : Form.ITRisk.riskSeverity.$invalid && (!Form.ITRisk.riskSeverity.$pristine || Form.ITRisk.riskSeverity.$touched || Form.ITRisk.riskSeverity.$submitted) }">
										<label> Severity </label>
										<select type="text" name="riskSeverity" ng-model="VM.riskSeverity"  class="form-control" required>
											<option value="">Severity</option>
											<option value="Low">Low</option>
											<option value="Medium">Medium</option>
											<option value="High">High</option>
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group" ng-class="{ 'has-error' : Form.ITRisk.identifiedDate.$invalid && (!Form.ITRisk.identifiedDate.$pristine || Form.ITRisk.identifiedDate.$touched || Form.ITRisk.identifiedDate.$submitted) }">
										<label> Identified Date </label>
										<datepicker date-format="MM-dd-yyyy" date-set="{{identifiedDate}}">
											<input type="text" name="identifiedDate" ng-model="VM.identifiedDate" placeholder="Due Date" class="form-control" required>
										</datepicker>
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group" ng-class="{ 'has-error' : Form.ITRisk.riskStatus.$invalid && (!Form.ITRisk.riskStatus.$pristine || Form.ITRisk.riskStatus.$touched || Form.ITRisk.riskStatus.$submitted) }">
										<label> Status </label>
										<select type="text" name="riskStatus" ng-model="VM.riskStatus" class="form-control" required>
											<option value="">Select Status</option>
											<option value="Submitted">Submitted</option>
											<option value="In Progress">In Progress</option>
											<option value="Ready To Approve">Ready to Approve</option>
											<option value="To Approve">To Approve</option>
											<option value="Approved">Approved </option>
											<option value="Completed">Completed</option>
										</select>
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Risk Measure</legend>
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Inherent Risk Rating </label>
										<input type="text"  name="inherentRiskRating" ng-model="VM.inherentRiskRating"  placeholder="Inherent Risk Rating" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Residual Risk </label>
										<input type="text"  name="residualRisk" ng-model="VM.residualRisk"  placeholder="Residual Risk" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Risk Direction </label>
										<input type="text"  name="riskDirection" ng-model="VM.riskDirection"  placeholder="Risk Direction" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Issue Outstanding ? </label>
										<input type="text"  name="issueOutstanding" ng-model="VM.issueOutstanding"  placeholder="Issue Outstanding" class="form-control">
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Risk Category</legend>
							<div class="row">
								<div class="col-xs-12 margin-bottom-10">
									<span class="help-inline col-sm-8 text-primary"> <i class="ti-info-alt"></i> Please click an item to select </span>
									<span class="text-right col-sm-4">
										<a ng-click="setAll(true)" ng-disabled="RiskCategories.SelCount===RiskCategories.List.length" class="btn btn-xs btn-squared btn-dark-blue"> Select All </a>
										<a ng-click="setAll(false)" ng-disabled="RiskCategories.SelCount===0" class="btn btn-xs btn-squared btn-dark-blue"> Unselect All </a>
									</span>
								</div>
								<ul class="multi-select-list-group col-xs-12" ng-class="{'height-250': RiskCategories.List.length>3 }" ng-scrollbars>
									<li class="list-item-container col-xs-12" ng-class="{'selected': li.Selected }" ng-repeat="li in RiskCategories.List">
										<a ng-click="setOpt(li)" class="list-item col-xs-12">
											<span class="col-xs-10">{{li.Label}}</span>
											<span class="col-xs-2"><i class="fa fa-check-circle"></i></span>
										</a>
									</li>
								</ul>
							</div>
						</fieldset>
						<fieldset>
							<legend>Risk Impact</legend>
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Servers Impacted </label>
										<input type="text"  name="" ng-model="VM.serversImpacted"  placeholder="Potential Impact" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Downtime </label>
										<input type="text"  name="serversDowntime" ng-model="VM.serversDowntime"  placeholder="Potential Impact" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Physical Hostnames </label>
										<input type="text"  name="physicalHostnames" ng-model="VM.physicalHostnames"  placeholder="Legal Entity Tier 2 Impact" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Virtual HostNames </label>
										<input type="text"  name="virtualHostNames" ng-model="VM.virtualHostNames"  placeholder="Legal Entity Tier 1 Impact" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Geographical Impact </label>
										<input type="text"  name="geoImpact" ng-model="VM.geoImpact"  placeholder="Legal Entity Tier 1 Impact" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Department </label>
										<input type="text"  name="department" ng-model="VM.department"  placeholder="Legal Entity Tier 1 Impact" class="form-control">
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Risk Remediation</legend>
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Remediation Plan </label>
										<input type="text"  name="remePlan" ng-model="VM.remePlan"  placeholder="Remediation Plan" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Remediation Owner </label>
										<select name="remeOwner" ng-model="VM.remeOwner"
												ng-options="u.name as u.name for u in app.Lookup.Users" class="form-control">
											<option value="">Select Remediation Owner</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Remediation Date </label>
										<datepicker date-format="MM-dd-yyyy">
											<input type="text" name="remeDate" ng-model="VM.remeDate" placeholder="Due Date" class="form-control">
										</datepicker>
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Remediation Status </label>
										<input type="text"  name="remeStatus" ng-model="VM.remeStatus"  placeholder="Remediation Status" class="form-control">
									</div>
								</div>
							</div>
							<div class="row">
								<button class="btn btn-squared btn-dark-blue" ng-click="addNewAction()" onsubmit="return false;"><i class="fa fa-check"></i>  Add Action</button>
							</div>
						</fieldset>
						<fieldset>
							<legend>Risk Control</legend>
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Control Name </label>
										<input type="text"  name="controlName" ng-model="VM.controlName"  placeholder="Control Name" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Control Description </label>
										<input type="text"  name="controlDescription" ng-model="VM.controlDescription"  placeholder="Control Description" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Control Status </label>
										<input type="text"  name="controlStatus" ng-model="VM.controlStatus"  placeholder="Control Status " class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Associate Control <a ng-click="addControls()" class="btn btn-link"><i class="fa fa-search"></i></a>  </label>
										<div class="col-xs-12">
											<ul class="multi-select-list-group col-xs-12 padding-left-0">
												<li class="list-item-container row" ng-repeat="con in VM.controlDataModel">
													<div class="list-item col-xs-12 padding-left-0">
														<span class="col-sm-10"> {{con.controlName}} </span>
														<span class="col-sm-2">
														<a class="text-right delete" ng-click="removeItem('controlDataModel', $index)"> remove </a>
													</span>
													</div>
												</li>
												<li class="no-result padding-left-0" ng-if="!VM.controlDataModel.length"> <i class="fa fa-info-circle"></i> no test plan selected</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Process Risk</legend>
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Impacted Process Name </label>
										<input type="text"  name="impactedProcName" ng-model="VM.impactedProcName"  placeholder="Impacted Process Name" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Process Description </label>
										<input type="text"  name="processDescription" ng-model="VM.processDescription"  placeholder="Control Description" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Files to upload </label>
										<input type="file" file-model="VM.auditFileModel" class="form-control" />
										<ul class="file-list-group col-xs-12">
											<li class="file-list-item" ng-repeat="file in VM.auditFileModel">
												<a href="{{app.APIPrefix + 'policies/download/stream/'+file.id}}" download="{{file.fileName}}" ng-if="file.id!=1">
													{{file.fileName}}
												</a>
												<span ng-if="file.id==1">{{file.fileName}}</span>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="form-group">
										<label> Policies <a ng-click="addPolicyDocs()" class="btn btn-link"><i class="fa fa-search"></i></a> </label>
										<div class="col-xs-12">
											<ul class="multi-select-list-group col-xs-12 no-padding">
												<li class="list-item-container row" ng-repeat="p in VM.policiesData">
													<div class="list-item col-xs-12 padding-left-0">
														<span class="col-xs-4">{{p.docName}}</span>
														<span class="col-xs-6">{{p.docDesc}}</span>
														<span class="col-xs-2">
                                                            <a class="pull-right delete" ng-click="removeItem('policiesData', $index)"> remove </a>
                                                        </span>
													</div>
												</li>
												<li class="no-result no-padding" ng-if="!VM.policiesData.length"> <i class="fa fa-info-circle"></i> no policies selected</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
						<hr class="hrule4" />
						<div class="col-xs-12 text-right">
							<button class="btn btn-squared btn-dark-blue" ng-disabled="Form.ITRisk.$invalid" type="submit"><i class="fa fa-save"></i> Save</button>
							<!--<button class="btn btn-squared btn-dark-blue" type="reset"><i class="fa fa-refresh"></i> Reset</button>-->
							<button class="btn btn-squared btn-dark-blue" ng-click="cancelAction()"><i class="fa fa-times"></i>  Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>