<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="mainTitle" >{{mainTitle}}</h1>
			<span class="mainDescription">{{mainDesc}} </span>
		</div>
	</div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-white">
				<div class="panel-body">
					<div id="statusChart" class="col-xs-12 col-md-offset-2 col-md-8"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-white">
				<div class="panel-body">
					<div id="periodChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-white">
				<div class="panel-body">
					<div id="regionChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-white">
				<div class="panel-body">
					<div id="deptChart" class="col-xs-12"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-white no-radius">
				<div class="panel-heading">
					<h5>IT Risk Assessments Listing</h5>
					<div class="panel-tools">
						<a class="btn btn-xs btn-dark-blue btn-squared" ng-click="downloadTemp()">Download Templates</a>
						<a class="btn btn-xs btn-dark-blue btn-squared" ui-sref="app.itrisk.assessment.form">Upload Assessment</a>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-xs-4 col-sm-3 col-md-2 col-lg-1">
							<select id="perpage" ng-model="PerPage" ng-options="op as op for op in OpList" class="form-control input-sm"> </select>
						</div>
						<div class="col-xs-4 col-sm-3 col-md-10 col-lg-11">
							<div class="form-group pull-right col-xs-12 col-sm-4 col-md-3">
								<span class="input-icon">
									<input type="text" ng-model="CurrFilt" placeholder="search" class="form-control input-sm" />
									<i class="fa fa-search"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<table class="table table-striped table-responsive col-xs-12">
							<thead>
							<tr class="sortable-headers">
								<th><input type="checkbox"></th>
								<th><a ng-class="{'text-azure': CurrCol==='assessName' }" ng-click="sortMe('assessName')"><i class="fa {{resSort('assessName')}}"></i> Name</a></th>
								<th><a ng-class="{'text-azure': CurrCol==='region' }" ng-click="sortMe('region')"><i class="fa {{resSort('region')}}"></i> Region</a></th>
								<th><a ng-class="{'text-azure': CurrCol==='business' }" ng-click="sortMe('business')"><i class="fa {{resSort('business')}}"></i> Business</a></th>
								<th><a ng-class="{'text-azure': CurrCol==='period' }" ng-click="sortMe('period')"><i class="fa {{resSort('period')}}"></i> Period</a></th>
								<th><a ng-class="{'text-azure': CurrCol==='frequency' }" ng-click="sortMe('frequency')"><i class="fa {{resSort('frequency')}}"></i> Frequency</a></th>
								<th><a ng-class="{'text-azure': CurrCol==='approval' }" ng-click="sortMe('approval')"><i class="fa {{resSort('approval')}}"></i> Approval State</a></th>
								<th>Action</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="r in Incidents | orderBy: CurrCol:IsAsc | filter: CurrFilt">
								<th><input type="checkbox"></th>
								<td>{{r.assessName}}</td>
								<td>{{r.region}}</td>
								<td>{{r.business}}</td>
								<td>{{r.period}}</td>
								<td>{{r.frequency}}</td>
								<td>{{r.approval}}</td>
								<td>
									<a ui-sref="app.itrisk.assessment.update({ id: r.id })" class="btn btn-xs btn-squared btn-dark-azure"><i class="ti-pencil"></i></a>
									<a ng-click="deleteAction(r)" class="btn btn-xs btn-squared btn-red"><i class="ti-trash"></i></a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							Showing {{1}} to {{7}} of {{7}} entries
						</div>
						<div class="col-xs-12 col-sm-8 pagination-right">
							<uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></uib-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>