<!-- Page Header -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="mainTitle">{{mainTitle}}</h1>
            <!--<span class="mainDescription">{{mainDesc}}</span>-->
        </div>
    </div>
</section>
<!-- End: Page Header -->

<div class="container-fluid container-fullw bg-white">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-transparent">
                <div class="panel-body">
                    <form name="Form.ITAction" ng-submit="submitAction()" role="form" >
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group" ng-class="{ 'has-error' : Form.ITAction.actionsName.$invalid && (!Form.ITAction.actionsName.$pristine || Form.ITAction.actionsName.$touched || Form.ITAction.actionsName.$submitted) }">
                                    <label> Action Name </label>
                                    <input type="text" name="actionsName" ng-model="VM.actionsName" placeholder="Name" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group" ng-class="{ 'has-error' : Form.OpAction.actionsDesc.$invalid && (!Form.OpAction.actionsDesc.$pristine || Form.OpAction.actionsDesc.$touched || Form.OpAction.actionsDesc.$submitted) }">
                                    <label> Description </label>
                                    <input type="text" name="actionsDesc" ng-model="VM.actionsDesc" placeholder="Description" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Department </label>
                                    <select type="text" name="department" ng-model="VM.deptId" class="form-control" ng-options="d.deptId as d.deptName for d in app.Lookup.Departments">
                                    	<option selected value>Select Department</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Responsible Person </label>
                                    <select type="text" name="auditId" ng-model="VM.auditId" class="form-control" ng-options="op.id as op.name for op in app.Lookup.Users">
                                        <option selected value>Select Person</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group" ng-class="{ 'has-error' : Form.OpAction.dueDate.$invalid && (!Form.OpAction.dueDate.$pristine || Form.OpAction.dueDate.$touched || Form.OpAction.dueDate.$submitted) }">
                                    <label> Due Date </label>
                                    <datepicker date-format="MM-dd-yyyy">
                                        <input type="text" name="dueDate" ng-model="VM.dueDate" placeholder="Due Date" class="form-control" required>
                                    </datepicker>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group" ng-class="{ 'has-error' : Form.OpAction.actionStatus.$invalid && (!Form.OpAction.actionStatus.$pristine || Form.OpAction.actionStatus.$touched || Form.OpAction.actionStatus.$submitted) }">
                                    <label> Status</label>
                                    <select type="text" name="actionStatus" ng-model="VM.actionStatus" class="form-control" ng-options="st.key as st.val for st in app.Lookup.LIST004" required>
                                        <option selected value>Select Status</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label> Files to upload </label>
                                    <input type="file" file-model="VM.filemodel" class="form-control"  multiple="multiple"/>
                                    <ul class="file-list-group col-xs-12">
                                        <li class="file-list-item" ng-repeat="file in VM.filemodel">
                                            <a ng-click="openFile(file)"><i class="fa fa-file"></i> {{file.fileName}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr class="hrule4" />
                        <div class="col-xs-12 text-right">
                            <button class="btn btn-squared btn-dark-blue" type="submit"><i class="fa fa-save"></i> Save</button>
                            <!--<button class="btn btn-squared btn-dark-blue" type="reset"><i class="fa fa-refresh"></i> Reset</button>-->
                            <button class="btn btn-squared btn-dark-blue" ng-click="cancelAction()"><i class="fa fa-times"></i>  Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>