<!-- start: SEARCH FORM -->
<div class="sidebar-spacer">
</div>
<!-- end: SEARCH FORM -->
<!-- start: MAIN NAVIGATION MENU -->
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.admin.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-bar-chart"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Dashboard </span>
                </div>
            </div>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.admin.tmpUplds.main">
            <div class="item-content">
                <div class="item-media">
                    <i class="menu-icon fa fa-picture-o"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Template Mgmt </span>
                </div>
            </div>
        </a>
    </li>

    <li ng-class="{'active open':$state.includes('app.admin.misc')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-hand-stop"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Misc </span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ng-class="{'active': $state.includes('app.admin.misc.ctrlDataUpload') }">
                <a ui-sref="app.admin.misc.ctrlDataUpload.main">
                    <span class="title"> Control Data Upload </span>
                </a>
            </li>
            <!--<li ng-class="{'active': $state.includes('app.oprisk.assessment') }">-->
                <!--<a ui-sref="app.oprisk.assessment.main">-->
                    <!--<span class="title">  </span>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.admin.roles.main">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-id-badge"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Roles </span>
                </div>
            </div>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.admin.users">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-user"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Users </span>
                </div>
            </div>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.admin.hierarchy">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-sharethis"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Approver Hierarchy </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->