<!-- start: MAIN CONTENT -->
<div ui-view class="wrap-content container fade-in-up" id="container"></div>
<div class="view-mask">
    <div class="view-mask-backdrop"></div>
    <div class="view-mask-dialogue col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-lg-4 col-lg-offset-4 padding-top-15">
      <div style="margin-left:40%;">
        <img src="assets/img/loader.svg" />
      </div>
      <h5> {{app.MaskLabel || ""}}</h5>
    </div>
</div>

<!-- end: MAIN CONTENT -->
<!--
<text x="18" y="30">&#xf06c;</text>
--?
