<section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="mainTitle" >DASHBOARD</h1>

		</div>
	</div>
</section>

<div class="container-fluid container-fullw padding-bottom-10">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-white">
				<div class="panel-heading">
					<h5>Task Inbox </h5>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-xs-4 col-sm-3 col-md-2">
							<select id="perpage" ng-model="Grid1.PerPage" ng-options="op as op for op in OpList" class="form-control input-sm"> </select>
						</div>
						<div class="col-xs-4 col-sm-3 col-md-10">
							<div class="form-group pull-right col-xs-12 col-sm-4">
								<span class="input-icon">
									<input type="text" ng-model="Grid1.Filter" placeholder="search" class="form-control input-sm" />
									<i class="fa fa-search"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<table class="table table-striped table-responsive">
							<thead>
							<tr class="sortable-headers">
								<th></th>
								<th><a ng-class="{'text-azure': Grid1.Column==='workItemType' }" ng-click="Grid1.SortMe('workItemType')"><i class="fa {{Grid1.GetIco('workItemType')}}"></i> Item</a></th>
								<th><a ng-class="{'text-azure': Grid1.Column==='audit_action_name' }" ng-click="Grid1.SortMe('audit_action_name')"><i class="fa {{Grid1.GetIco('audit_action_name')}}"></i> Description</a></th>
								<th><a ng-class="{'text-azure': Grid1.Column==='alertDueDate' }" ng-click="Grid1.SortMe('alertDueDate')"><i class="fa {{Grid1.GetIco('alertDueDate')}}"></i> Due Date </a></th>
								<th><a ng-class="{'text-azure': Grid1.Column==='alertCreatedDate' }" ng-click="Grid1.SortMe('alertCreatedDate')"><i class="fa {{Grid1.GetIco('alertCreatedDate')}}"></i> Event Created </a></th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="t in Grid1.Data | orderBy: Grid1.Column:Grid1.IsAsc | filter: Grid1.Filter |  limitTo : Grid1.PerPage : (Grid1.CurrPage -1) * Grid1.PerPage">
								<th>
									<a ng-if="t.action_to_take=='form'" ui-sref="app.dashboard.action.update({id: t.actionId})" class="btn btn-xs btn-squared btn-azure"><i class="ti-bell"></i></a>
									<a popup-show="actionPopover.html"
									   popup-placement="right"
									   ng-if="t.action_to_take=='tooltip'"
									   class="btn btn-xs btn-squared btn-default">
										<i class="fa fa-envelope text-yellow"></i>
									</a>
								</th>
								<td>{{t.workItemType}}</td>
								<td>{{t.audit_action_name}}</td>
								<td>{{t.alertDueDate}}</td>
								<td class="text-center">{{t.alertCreatedDate}}</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="row margin-top-10">
						<div class="col-xs-12 col-sm-5">
							Showing {{(Grid1.CurrPage -1) * Grid1.PerPage + 1}} to {{ ((Grid1.CurrPage * Grid1.PerPage) >  Grid1.Total) ?  Grid1.Total : (Grid1.CurrPage * Grid1.PerPage); }} of {{Grid1.Total}} entries
						</div>
						<div class="col-xs-12 col-sm-7 pagination-right">
							<ul uib-pagination total-items="Grid1.Total" items-per-page="Grid1.PerPage" ng-model="Grid1.CurrPage" max-size="5" class="pagination-sm" boundary-link-numbers="true"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-white">
				<div class="panel-heading">
					<h5>Calendar</h5>
				</div>
				<div class="panel-body">
					<div class="row">

						<div class="col-md-6 text-center">
							<div class="btn-group">
								<button class="btn btn-sm btn-squared btn-dark-azure" mwl-date-modifier date="viewDate" decrement="calendarView" ng-click="vm.cellIsOpen = false">	Previous </button>
								<button class="btn btn-sm btn-squared btn-default" mwl-date-modifier date="viewDate" set-to-today ng-click="cellIsOpen = false">	Today </button>
								<button class="btn btn-sm btn-squared btn-dark-azure" mwl-date-modifier date="viewDate" increment="calendarView" ng-click="cellIsOpen = false"> Next	</button>
							</div>
						</div>
						<br class="visible-xs visible-sm">
						<div class="col-md-6 text-center">
							<div class="btn-group">
								<label class="btn btn-sm btn-squared btn-dark-azure" ng-model="calendarView" uib-btn-radio="'month'" ng-click="cellIsOpen = false">Month</label>
								<label class="btn btn-sm btn-squared btn-dark-azure" ng-model="calendarView" uib-btn-radio="'week'" ng-click="cellIsOpen = false">Week</label>
								<label class="btn btn-sm btn-squared btn-dark-azure" ng-model="calendarView" uib-btn-radio="'day'" ng-click="cellIsOpen = false">Day</label>
							</div>
						</div>

					</div>
					<mwl-calendar
							view="calendarView"
							view-date="viewDate"
							events="events"
							view-title="calendarTitle"
							on-event-click="eventClicked(calendarEvent)"
							on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
							cell-is-open="true">
					</mwl-calendar>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-white">
				<div class="panel-heading">
					<h5>Control Analytics</h5>
					<div class="panel-tools">
						<div class="btn-group" uib-dropdown ng-model="selectedANKey">
							<button type="button" class="btn btn-xs btn-o btn-dark-azure btn-squared uib-dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
								{{selectedANKey}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right" role="menu">
								<li ng-repeat="(key, val) in ANchartData">
									<a ng-click="setCAOpt(key)">{{key}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div id="ctrlAnticChart"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-white">
				<div class="panel-heading">
					<h5>Open Items</h5>
					<div class="panel-tools">
						<div class="btn-group" uib-dropdown>
							<button type="button" class="btn btn-xs btn-o btn-dark-azure btn-squared uib-dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
								{{selectedOPKey}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right" role="menu">
								<li ng-repeat="(key, val) in OPchartData">
									<a ng-click="setOPOpt(key)">{{key}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div  id="openitemChart" style="width:100%; height: 300px;"> </div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-white">
				<div class="row padding-10">
					<div class="form-group col-xs-4 col-sm-3 col-md-2 col-lg-1">
						<select ng-model="Grid2.PerPage" ng-options="op as op for op in OpList" class="form-control input-sm"> </select>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-10 col-lg-11">
						<div class="form-group pull-right col-xs-12 col-sm-4 col-md-3">
							<span class="input-icon">
								<input type="text" ng-model="Grid2.Filter" placeholder="search" class="form-control input-sm" />
								<i class="fa fa-search"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="row">
					<table class="table table-striped table-responsive col-xs-12">
						<thead>
						<tr class="sortable-headers">
							<th><input type="checkbox"></th>
							<th><a ng-class="{'text-azure': Grid2.Column==='activityType' }" ng-click="Grid2.SortMe('activityType')"><i class="fa {{Grid2.GetIco('activityType')}}"></i> Activity Type</a></th>
							<th><a ng-class="{'text-azure': Grid2.Column==='activtiyTitle' }" ng-click="Grid2.SortMe('activtiyTitle')"><i class="fa {{Grid2.GetIco('activtiyTitle')}}"></i> Activity Title</a></th>
							<th><a ng-class="{'text-azure': Grid2.Column==='createdDate' }" ng-click="Grid2.SortMe('createdDate')"><i class="fa {{Grid2.GetIco('createdDate')}}"></i> Created Date</a></th>
							<th><a ng-class="{'text-azure': Grid2.Column==='person' }" ng-click="Grid2.SortMe('person')"><i class="fa {{Grid2.GetIco('person')}}"></i> Person</a></th>
							<th><a ng-class="{'text-azure': Grid2.Column==='dueDate' }" ng-click="Grid2.SortMe('dueDate')"><i class="fa {{Grid2.GetIco('dueDate')}}"></i> Due Date</a></th>
							<th><a ng-class="{'text-azure': Grid2.Column==='status' }" ng-click="Grid2.SortMe('status')"><i class="fa {{Grid2.GetIco('status')}}"></i> Status</a></th>
							<th><a ng-class="{'text-azure': Grid2.Column==='rag' }" ng-click="Grid2.SortMe('rag')"><i class="fa {{Grid2.GetIco('rag')}}"></i> RAG</a></th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="a in Grid2.Data | orderBy: Grid2.Column:Grid2.IsAsc | filter: Grid2.Filter |  limitTo : Grid2.PerPage : (Grid2.CurrPage -1) * Grid2.PerPage">
							<th><input type="checkbox"></th>
							<td>{{a.activityType}}</td>
							<td>{{a.activtiyTitle}}</td>
							<td>{{a.createdDate}}</td>
							<td>{{a.person}}</td>
							<td>{{a.dueDate}}</td>
							<td>{{a.status}}</td>
							<td><i class="fa fa-2x fa-circle" ng-style="{color: a.rag}"></i></td>
							<td>
								<a class="btn btn-xs btn-squared btn-azure"><i class="ti-pencil"></i></a>
								<a class="btn btn-xs btn-squared btn-red"><i class="ti-trash"></i></a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="row margin-top-10">
					<div class="col-xs-12 col-sm-5">
						Showing {{(Grid2.CurrPage -1) * Grid2.PerPage + 1}} to {{ ((Grid2.CurrPage * Grid2.PerPage) >  Grid2.Total) ?  Grid2.Total : (Grid2.CurrPage * Grid2.PerPage); }} of {{Grid2.Total}} entries
					</div>
					<div class="col-xs-12 col-sm-7 pagination-right">
						<ul uib-pagination total-items="Grid2.Total" items-per-page="Grid2.PerPage" ng-model="Grid2.CurrPage" max-size="5" class="pagination-sm" boundary-link-numbers="true"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--<p>API Endpoint Documentation from Swagger. For Development purpose only.</p>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<h5 class="text-bold">API Documentation</h5>-->
<!--<p><strong>Username: </strong> user<p>-->
<!--<p><strong>Password: </strong> 6hf38!%DQ09736v,32/f85Ax@#</p>-->
<!--</div>-->
<!--</div>-->