<!-- Home Page Libraries and Styles  -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!-- Theme CSS -->
<link href="assets/css/home.css" rel="stylesheet">


<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" style="font-size:22px" href="#page-top">
                <i class="fa fa-leaf" style="color:#48d035"></i> Aarsi Control
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Measure</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Mitigate</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Monitor</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">Process</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Risk</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Control</a>
                </li>
                <li>
                    <a class="page-scroll" ui-sref="login.signin"><span class="text-blue">Sign in</span></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Natural Disasters, Threats, Cyber Risk, Alerts, Fraud</div>
            <div class="intro-heading">Measure, Mitigate, Monitor</div>
            <a ui-sref="login.signin" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What we do?</h2>
                <h3 class="section-subheading text-muted">Technical risks and threat analysis and assessments.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-azure"></i>
                    <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Assessments</h4>
                <p class="text-muted">Standardize assessments across a single framework of assessments Automation/Integration of data that is multi-keyed Ability to auto calculate an Assessment Rating Leverage a unified data store for sharing Reference Data and Metrics Provide a single point of entry and consistent user experience for the business.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-azure"></i>
                    <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Summary Dashboard</h4>
                <p class="text-muted">With our summary dashboard you can easily Summarize Analyze and Report. We also provide a set of powerful Management Dash Boards.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-azure"></i>
                    <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Admin Utility</h4>
                <p class="text-muted">Our Admin Utility helps you in following ways.
                    <ul>                        
                        <li>Role Management - Maker Checker</li>
                        <li>Map key Assessments Data</li>
                        <li>Assessments Template Repository</li>
                        <li>Manage Business Entity Data</li>
                        <li>Manage Ratings Capture</li>
                        <li>Define Approval workflows</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>